.clear {clear: both;}
.clear-bottom {
  &:after {
    clear: both;
    display: block;
    content: "";
  }
}
#page {
  width: 100%;
  #content {
    width: 90%;
    padding: 0 5% 20px 5%;
    margin: 0 auto;
    background-color: white;
  }
  #colophon {
    background-color: black;
  }
}
