.clear {
  clear: both;
}

.clear-bottom {
  &:after {
    clear: both;
    display: block;
    content: "";
  }
}
h1,h2,h3,h4,h5,h6 {

  line-height: 1.5;
  color: $color__text-main;
  text-transform: uppercase;
}
h1 {
  font-size: 21px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 15px;
}
a {
  outline: none;
  color: #21759b;
  text-decoration: none;
}
.copy {
  font-size: 15px;
  > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
  > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  p {
    margin: 10px 0;
  }
  strong, b, em {
    font-weight: 800;
  }
  a {
    outline: none;
    color: #21759b;
    text-decoration: none;
    &:hover {
      font-weight: 700;
    }
  }
  h1, h2, h3 {
    margin: 0 0 10px 0;
    text-transform: uppercase;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 17px;
  }
  h3 {
    font-size: 15px;
  }
  ul, ol {
    padding: 0;
    margin: 0 0 10px 10px;
    font-size: inherit;
    li {
      margin: 0 0 0 20px;
      font-size: inherit;
      padding: 0;
      a {
      }
      ul.sub-menu {
        margin: 0;
      }
    }
  }
}

#page {
  width: 100%;
  #content {
    width: 90%;
    padding: 0 20px 20px 20px;
    margin: 0 auto;
    background-color: white;
    @media screen and (min-width: $tabwidth) {
      padding: 0 5% 20px 5%;
    }
    #masthead {
      > .wrapper {
        > .row-1 {
          margin: 10px auto 20px auto;
          @media screen and (min-width: $tabwidth) {
            @include flexbox;
            @include flexbox-align-content(center);
            @include flexbox-align-items(center);
            @include flexbox-justify(space-between);
            @include flexbox-wrap(nowrap);
          }
          > .column-1 {
            width: 80%;
            margin: 0 auto 10px auto;
            @media screen and (min-width: $tinywidth) {
              width: 50%;
            }
            @media screen and (min-width: $tabwidth) {
              @include flexbox-flex(0, 1, auto);
              width: 39%;
              margin: 0;
            }
            a {
              display: block;
              img {
                display: block;
                width: 50%;
                float: left;
              }
            }
          }
          > .column-2 {
            width: 100%;
            margin: 0;
            @media screen and (min-width: $tabwidth) {
              @include flexbox-flex(0, 1, auto);
              text-align: right;
              width: 59%;
            }
          }
        }
        > .row-2 {
          /* see _menus */
        }
      }
    }
  }
  #colophon {
    background-color: black;
    > .wrapper {
      padding: 30px 0 50px 0;
      ul {
        margin: 0;
        padding: 0;
        text-align: center;
        li {
          margin: 10px 0;
          padding: 0;
          display: block;
          @media screen and (min-width: $tabwidth) {
            display: inline-block;
            margin: 0;
          }
          &:first-child {
            a {
              &:before {
                display: none;
              }
            }
          }
          a {
            color: grey;
            text-decoration: none;
            &:before {
              content: "|";
              display: inline-block;
              margin: 0;
              padding: 0 6px 0 3px;
            }
            &:hover {
              color: grey;
            }
          }
        }
      }
    }
  }
}

.template-two-column {
  margin: 20px 0 0 0;
  @include flexbox;
  @include flexbox-align-content(stretch);
  @include flexbox-align-items(stretch);
  @include flexbox-justify(center);
  @include flexbox-wrap(nowrap);
  @include flexbox-direction(column);
  @media screen and (min-width: $tabwidth) {
    @include flexbox-justify(space-between);
    @include flexbox-direction(row);
  }
  > .column-1 {
    @include flexbox-flex(0, 1, auto);
    width: 100%;
    border-right: 1px solid #ccc;
    @media screen and (min-width: $tabwidth) {
      width: 30%;
    }
  }
  > .column-2 {
    @include flexbox-flex(0, 1, auto);
    width: 100%;
    @media screen and (min-width: $tabwidth) {
      width: 60%;
    }
  }
}
#home-banner-container {
  width: 100%;
  margin: 10px auto 40px auto;
  position: relative;
  .flexslider {
    ul.slides {
      li {
        a {
        }
        #home-banner-pic {
          width: 100%;
          float: left;
          position: relative;
          @media screen and (min-width: $tabwidth) {
            width: 55%;
          }
          img {
            width: 100%;
          }
        }
        #home-banner-right {
          width: 100%;
          float: left;
          position: relative;
          font-family: 'Carrois Gothic', sans-serif;
          background-color: #765488;
          padding: 20px;
          color: #fff;
          @media screen and (min-width: $tabwidth) {
            width: 45%;
          }
          h2 {
            font-size: 18px;
            text-align: center;
            width: auto;
            margin: 0 0 5px 0;

            font-weight: normal !important;
            @media screen and (min-width: $tabwidth) {
              margin: 0;
              text-align: left;
              float: left;
              font-size: 16px;
            }
            @media screen and (min-width: $deskwidth) {
              position: absolute;
              top: 28px;
              left: 20px;
              font-size: 18px;
            }
          }
          .subheader {
            margin: 0 0 5px 0;
            font-size: 22px;
            text-align: center;
            font-weight: bold;
            @media screen and (min-width: $tabwidth) {
              text-align: left;
              width: 100%;
              float: left;
              font-size: 20px;
            }
            @media screen and (min-width: $deskwidth) {
              width: 450px;
              position: absolute;
              top: 55px;
              // right: 35px;
              left: 20px;
              font-size: 38px;
            }
          }
          .banner-text {
            font-size: 16px;
            line-height: 1.3;
            @media screen and (min-width: $tabwidth) {
              width: 100%;
              float: left;
              font-size: 12px;
            }
            @media screen and (min-width: $deskwidth) {
              width: 300px;
              position: absolute;
              top: 120px;
              left: 20px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}