.main-navigation {
  display: block;
  width: 100%;
  ul {
    li {
    }
  }
}

.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: $tabwidth) {
  .menu-toggle {
    display: none;
  }
  .main-navigation ul {
    display: block;
  }
}

