.template-index {
  > .row-2 {
    h2 {
      font-size: 30px;
      font-weight: 600;
      border-bottom: 4px solid black;
      text-transform: uppercase;
    }
    .copy {
      margin: 40px 0;
    }
  }
  > .row-3 {
  }
}
.template-tools {
  >.column-1 {
    padding-bottom: 20px;
    ul {
      padding: 0;
      margin: 0 0 0 20px;
      font-size: inherit;
      li {
        margin: 0 0 10px 20px;
        font-size: inherit;
        padding: 0;
        &:last-child {
          margin: 0 0 0 20px;
        }
        a {
        }
        ul.sub-menu {
          margin: 0;
        }
      }
    }
  }
  >.column-2 {
    header h1 {
      margin: 0;
    }
    .copy {
      margin: 20px 0;

    }
  }
}
.template-sitemap, .template-page, .template-leadership, .template-map {
  > header h1 {

  }
  >.copy {
    margin: 20px 0;
  }
}
.template-leadership {
  >.wrapper {
    .leader {
      border-bottom: 1px solid lightgrey;
      @media screen and (min-width: $tabwidth) {
        padding: 40px;
      }
      &:last-child {
        border-bottom: none;
      }
      >.column-1 {
        @media screen and (min-width: $tabwidth) {
          width: 30%;
          float: left;
          margin: 0 5% 0 0;
        }
        img {
          display: block;
          width: 100%;
        }
      }
      >.column-2 {
        @media screen and (min-width: $tabwidth) {
          width: 65%;
          float: left;
        }
      }
      .info {
        h2 {
          margin: 20px 0;
          font-size: 18px;
          font-weight: 500;
          @media screen and (min-width: $tabwidth) {
            margin: 0;
          }
        }
        .title {
          margin: 20px 0;

        }
        .copy {
          margin: 20px 0;
        }
        .email {
          margin: 20px 0;
          a {
            color: inherit;
            text-decoration: none;
            &:hover {
              font-weight: 700;
              cursor: pointer;
            }
          }

        }
        .phone {
          margin: 20px 0;

        }
      }
    }
  }
}
